
html body {
    background-color: #FBF6EF;
    margin:0;
}

 /* HEADER/NAV SECTION */

nav{
    align-items: center;
    border-bottom: 1px black solid;
    align-content: center;
    margin: 0 auto;
}

html ul{
    padding: 0%;

}
.ss-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-content: center;
    align-items: center;
}

a:link{
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #252525;
}

#nav-logo{
    font-size: 2.5em;
    font-family: 'Gallery Modern', serif;
    text-transform: none;
}

header {
    width: 100vw;
    border-bottom: #252525 1px solid;

}

header .navb-items{
    width: 100%;
    height: 68px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */

}

.nav-container{
    /* border: 2px solid red; */
    width: auto;
}

.bars-icon{
    color: #000;
}
/* END HEADER/NAV SECTION */

/* MODAL */
.modal-dialog{
    margin: 0 !important;
    max-width: 100% !important;
    border-radius: 0;
}

@media(max-width: 450px){
    .modal-dialog{
        width: 82px;
    }
}

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
  }

  .modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
  }
  .modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    /* display: flex; */
   /* align-items: stretch;  */
    -webkit-box-align: stretch;
    height: 100%;
  }
  .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modal-dialog-slideout .modal-content {
    border: 0;
  }
  .modal-dialog-slideout .modal-header,
  .modal-dialog-slideout .modal-footer {
    height: 4rem;
    display: block;
  }

  .modal-header{
    border-bottom: #252525 solid 1px !important;
  }

.modal-content{
    margin:0;
    border-radius: 0 !important;
    height: 100vh;
    background-color: #EAD7C3 !important;
}

.modal-body{
    width: 100%;
    padding: 0 !important;
}

.modal-line{
    padding: 3%;
    border-bottom: #252525 1px solid;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    transition: .4s;
    text-align: center;
    letter-spacing: 2px;
}

.modal-line:hover{
    background-color: #252525;
    
}

.modal-line:hover a{
    color: #FBF6EF !important;
    transition: .4s;
}

.modal-line a{
    color:#252525;
}

.modal-title{
    font-family: 'Gallery Modern', serif;
    font-weight: 400;
    font-size: 1.5em;
}

.modal-line a:hover{
    color: #FBF6EF;
}

.modal-footer{
    border-top: #252525 solid 1px !important;
    text-align: center;
    letter-spacing: 2px;
}

.modal-footer a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding-left: 2%;

}

.modal-footer a:hover{
 color: gray !important;
}
/* HERO SECTION */

.col{
   border: 1px solid blue;
}

.hero-container{
    height: 100px;
    width: 100px;
    border: red solid 2px;
}

.hero-header-text{
    padding-top: 3vw;
    font-family: 'Classico', serif;
    font-size: 2.3em;
    text-transform: uppercase;
}

.hero-body-text{
    font-family: 'Montserrat', sans-serif;
    line-height: 175%;

}

.hero-button{
    font-size: .9em;
    background: none !important;
    border: 1px solid #252525;
}

.hero-lg-image{
    width: 500px;
    height: 600px;
    margin-top: 2vw;
    border: 1px solid black;
}

.hero-lg-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
/* END HERO SECTION */